*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.todo{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color:#cee2e9;
    border-radius: 5px;
}
.todo__heading{
    font-size: 12px;
    margin-bottom:16px;
    text-align: center;
}
.todo__add{
    display: flex;
    justify-content: space-between;
    margin-bottom:9px;
    align-items: center;
}
.input-text{
    width: 70%;
    height: 18px;
    border: 0;
    padding: 6px;
    outline: 0;
    border-radius: 5px;
}

.item{
    padding: 6px;
    display: flex;
    justify-content: space-between;
    margin:5px 0;
    list-style: none;
    background: #EFF6E0;
    border-left: 8px solid #AEC3B0;
    word-break: break-all;
    align-items: center; 
    border-radius: 5px;
}
.item.checked{
    border-left: 8px solid rgb(27, 145, 39);
}
.item__text{
    font-size: 12px;
    width: 70%;
    
}
.btn-group{
    width:20%;
    display: flex;
    justify-content: space-between
}

.btn{
    text-align: center;
    outline: none;
    background-color: #8483c7;
    border: none;
    border-radius:5px;
    box-shadow: 0 4px #6866b4;
    cursor: pointer;
    height: 20px;
}

.btn:active {
    box-shadow: 0 1px #95a5a6;
    transform: translateY(3px);
  }
.btn-add{
    width: 20%;
}
.btn-hold{
    padding:0 4px;
}
.btn-delete{
    padding: 0 6px;
}
.btn-clear{
    padding: 4px;
}
